## 1. Criação de uma lista e soma:

In [1]:
lista1 = [1, 10, 6, 7, 8, 10]
soma = sum(lista1)
print(soma)

42

## 2. Criação de uma lista de 1 a 100 e impressão:

In [2]:
lista2 = list(range(1, 101))
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## 3. Juntar duas listas e remover duplicados:

In [4]:
lista3a = [30, 4, 43, 52, 65, -10]
lista3b = [43, 2, 4, 76, 32, 65, 3]
lista_unida = list(set(lista3a + lista3b))
print(lista_unida)

[32, 65, 2, 3, 4, 43, 76, 52, -10, 30]

## 4. Lista dos meses do ano e verificar o mês de nascimento:

In [6]:
meses = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
mes_nascimento = int(input("Digite o número do mês em que você nasceu: "))
print("Você nasceu em:", meses[mes_nascimento - 1])

Digite o número do mês em que você nasceu: 10
Você nasceu em: Outubro

## 5. Lista dos dias do mês de nascimento e remoção do dia de nascimento:

In [7]:
dias = list(range(1, 32))  # Lista de dias de 1 a 31
dia_nascimento = int(input("Digite o dia em que você nasceu: "))
dias.remove(dia_nascimento)  # Remove o dia de nascimento
print(dias)

Digite o dia em que você nasceu: 1
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]