## Atividade 1:Crie uma função iterável "meses" que retorne os meses. Use um laço for para mostrar os valores.

In [1]:
def meses():
    lista_meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
                   'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
    for mes in lista_meses:
        yield mes
for mes in meses():
    print(mes)

Janeiro
Fevereiro
Março
Abril
Maio
Junho
Julho
Agosto
Setembro
Outubro
Novembro
Dezembro

## Atividade 2: Crie uma função iterável que receba uma lista de números e, a cada iteração, retorne um item da lista multiplicado por dois.

In [2]:
def multiplica_por_dois(lista_numeros):
    for numero in lista_numeros:
        yield numero * 2
numeros = [1, 2, 3, 4, 5]
for resultado in multiplica_por_dois(numeros):
    print(resultado)

2
4
6
8
10

## Atividade 3: Crie uma classe iterável chamada "Tabuada" que calcule a tabuada de um número recebido no construtor. A cada iteração, retorne um resultado da tabuada (use um laço for para testar).

In [3]:
class Tabuada:
    def __init__(self, numero):
        self.numero = numero
        self.multiplicador = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.multiplicador <= 10:
            resultado = self.numero * self.multiplicador
            self.multiplicador += 1
            return resultado
        else:
            raise StopIteration
for resultado in Tabuada(5):
    print(resultado)

0
5
10
15
20
25
30
35
40
45
50

## Atividade 4 (Desafio): Crie uma classe que retorne os fatoriais de um número no intervalo de X a Y, recebidos por parâmetro no construtor.

In [4]:
import math
class Fatorial:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        self.atual = x

    def __iter__(self):
        return self

    def __next__(self):
        if self.atual <= self.y:
            resultado = math.factorial(self.atual)
            self.atual += 1
            return resultado
        else:
            raise StopIteration
for resultado in Fatorial(3, 6):
    print(resultado)

6
24
120
720

## Atividade 5: Baseado no exercício 1, retorne o número que representa o mês e o nome do mês. Faça isso de duas maneiras: uma usando enumerate() e outra usando join().

**Código com enumerate():**

In [5]:
def meses_com_numero():
    lista_meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
                   'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
    for i, mes in enumerate(lista_meses, 1):
        print(f"{i} - {mes}")
meses_com_numero()

1 - Janeiro
2 - Fevereiro
3 - Março
4 - Abril
5 - Maio
6 - Junho
7 - Julho
8 - Agosto
9 - Setembro
10 - Outubro
11 - Novembro
12 - Dezembro

**Código com join():**

In [6]:
def meses_juntos():
    lista_meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
                   'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
    resultado = "\n".join([f"{i + 1} - {mes}" for i, mes in enumerate(lista_meses)])
    print(resultado)
meses_juntos()

1 - Janeiro
2 - Fevereiro
3 - Março
4 - Abril
5 - Maio
6 - Junho
7 - Julho
8 - Agosto
9 - Setembro
10 - Outubro
11 - Novembro
12 - Dezembro

## Atividade 6: Crie uma função que receba uma lista de frases e junte as mesmas em uma só, separadas por ponto final.

In [7]:
def juntar_frases(frases):
    return '. '.join(frases) + '.'
frases = ["Esta é a primeira frase", "Esta é a segunda", "Esta é a última frase"]
resultado = juntar_frases(frases)
print(resultado)

Esta é a primeira frase. Esta é a segunda. Esta é a última frase.