## FORMATAÇÃO DE TEXTO

In [ ]:
# %s texto
# %d inteiro
# %f real

In [ ]:
nome = "Adriana"
texto_formatado = "O nome dela é %s " % (nome)
print(texto_formatado)

O nome dela é Adriana

In [ ]:
nome = "Nivalda"
idade = 69
altura = 1.58
texto = "Meu nome é %s. tenho %d anos e tenho %f metros de altura" % (nome, idade, altura)
print(texto)

Meu nome é Nivalda. tenho 69 anos e tenho 1.580000 metros de altura

In [ ]:
numero_gigante = 1.258759248
print("Número gigante formatado: %.2f" % (numero_gigante))

Número gigante formatado: 1.26

In [ ]:
valor = True
print("O valor é %s" % (valor))
print("Ovalor é %d" % (valor))

O valor é True
Ovalor é 1

In [ ]:
valor = False
print("O valor é %s" % (valor))
print("Ovalor é %d" % (valor))

O valor é False
Ovalor é 0

In [ ]:
decimal = 23.5792
print("A parte inteira é %d" % (decimal))

A parte inteira é 23